
/*@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');  */
/* font-family: 'Baloo Paaji 2', cursive; 
    Loaded by webfont.js
*/

/* @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');  */
/* font-family: 'ZCOOL QingKe HuangYou', cursive;
    Loaded by webfont.js
*/



body {
    max-width: 670px;
    margin: 0 auto;
    margin-top: 50px;
    /*font-family: 'ZCOOL QingKe HuangYou', Arial, cursive; */
    font-family: 'ZCOOL QingKe HuangYou';
    font-kerning: none;
}
header, footer {
    background-image: linear-gradient(90deg, #00A0FF, #00FFA0);
    border-radius: 8px;
    padding: 6px;
    text-align: center;
}
h1{
    font-size: 3em;
    padding:0px;
    line-height: 0px;
}
ul {
    font-size: 1em;
    color: #707070;
    /*font-family: 'Baloo Paaji 2', cursive;*/
    font-family: 'Baloo Paaji 2';
}
a{
    color: #0000FF;
}
a:visited {
    color: #4000ff;
}

.lowerBorder {
    border-bottom: solid;
    border-width: 1px;
    margin-left: 10px;
    border-color: #808080;
    margin-right: 50px;
}
#profileImage {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 0px 6px 0px 0px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15), 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
}
#dateTime{
    line-height: 25px;
    color: #006000;
}

footer a {
    color: black;
}

    footer a:hover {
        color: black;
        font-size: 1.05rem;
    }

.wf-loading {
    visibility: hidden;
}

To show the fonts after they have loaded, you would include:
.wf-active {
    visibility: visible;
}

