
@media only screen and (min-width: 37.5em) {
    nav ul {
        /*
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        */
        display: flex;
        font-size: 18px;
        padding-bottom: 5px;
        padding-right: 25px;
        padding-left: 25px;
    }
    nav ul li {
        flex: 1 1 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    /*  grid-gap: 2em;*/
        text-align: center;
    }
    li a{
        padding:15px;
        margin:0px;
    }
    .active {
        background-color: #d8d8d8;
        border-radius: 0px 0px 25px 25px;
    }

    .profile {
        display: grid;
        grid-template-columns: 230px 1fr;
    }
    .typegrid {
        display: grid;
        grid-template-columns: 180px 160px 70px 1fr;
    }
}