@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    max-width: 800px;
    margin: 0 auto;
    background-color: #d8d8d8;
    border-left: solid;
    border-color: black;
    border-width: .5em;
    border-radius: 5px 0px 0px 5px;
    font-family: "Times New Roman", Times, serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 20px;
}

h1 {
    padding-right: 1em;
    padding-left: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    border-radius: 0px 25px 0px 0px;
    background-color: #00A0ff;
    font-family: 'Merriweather', "Times New Roman", serif;
    font-size: 32px;
}
h2 {
    padding: .5em;
    padding-left: 2em;
    margin-bottom: 0px;
    border-radius: 0px 25px 0px 0px;
    background-color: #00C0ff;
    font-family: 'Merriweather', "Times New Roman", serif;
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
img{
   background-color: #d8d8d8;
}

nav ul {
    display: block;
    justify-content: center;
    list-style: none;
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 15px;
    border-radius: 0px 0px 25px 0px;


}

li {
    padding: 0px;
    margin-right: 10px;
}

li a{
    display: block;
    padding-left:48px;
    font-size: 18px;
}

nav ul li:hover{
    background-color: #d8d8d8;

}

.active {
    background-color: #d8d8d8;
    border-radius: 0px 25px 25px 0px;
}


.top-flat {
    background-color: white;
    margin-top: 0px;
    padding: 15px;
    padding-left: 48px;
    border-radius: 0px 0px 25px 0px
}
.profile{
    display: block;
    text-align: left;
    background-color: white;
}
.tab{
    margin-left:50px;
}

.profile-img{
    grid-column: 1/2;
    grid-row:  1/7;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.scenerios {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid black;
}

p {
    font-size: 18px;
}

main div div p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.colorgrid{
    display:grid;
    grid-template-columns: 150px 1fr;
}
.background-color {
    background-color: #d8d8d8;
    border-bottom: 2px solid black;
}
.h1-color {
    background-color: #00a0ff;
    border-bottom: 2px solid black;
}
.h2-color {
    background-color: #00c0ff;
    border-bottom: 2px solid black;
}
.paragraph-color {
    background-color: white;
    border-bottom: 2px solid black;
}
.text-color {
    background-color: black;
    border-bottom: 2px solid white;
}
.border-color {
    background-color: black;
    border-bottom: 2px solid white;
}
.separator {
    border-bottom: 2px solid black;
}
.typegrid {
    display: block;

}
.header-font-size {
    font-size: 32px;
    font-family: 'Merriweather', "Times New Roman", serif;
}
.nav-font-size {
    font-size: 18px;
    font-family: 'Merriweather', "Times New Roman", serif;
}
.footer-font-size {
    font-size: 16px;
    font-family: 'Merriweather', "Times New Roman", serif;
}
.h1-font-size {
    font-size: 32px;
    font-family: 'Merriweather', "Times New Roman", serif;
}
.h2-font-size {
    font-size: 26px;
    font-family: 'Merriweather', "Times New Roman", serif;
}
.h3-font-size {
    font-size: 22px;
    font-family: 'Merriweather', "Times New Roman", serif;
}
.p-font-size {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}




@media only screen and (min-width: 37.5em) {
    nav ul {
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        font-size: 18px;
        padding-bottom: 5px;

    }
    li {
        padding: 0px;
        grid-gap: 2em;
        margin-right: 0px;
    }
    li a{
        padding:15px;
        margin:0px;
    }
    .active {
        background-color: #d8d8d8;
        border-radius: 0px 0px 25px 25px;
    }

    .profile {
        display: grid;
        grid-template-columns: 230px 1fr;
    }
    .typegrid {
        display: grid;
        grid-template-columns: 180px 160px 70px 1fr;
    }
}