body{
    background-color: black;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

h1 {
    background-color: white;
    width: 90%;
    height: 90%;
}


img{
    max-width: calc(100% - 50px);
}
