/* Media Query for medium+ views */

@media only screen and (min-width: 32.5em) {
    main{
        margin: 0 auto;
        /*max-width: 800px;*/
        max-width: 100vw;
    }


    footer {
        margin: 0 auto;
        text-align: center;
        max-width: 800px;
        font-size: .9em;
    }
    header img {
        width: 100%;
    }

    .headings h1 {
        font-size: 3em;
    }

    .m {
        letter-spacing: 1.5pt;
        font-size: 1.2em;
        margin-left: 17px;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }

        .navigation a {
            text-align: center;
            font-size: 1em;
            padding-left: 0.45rem;
            padding-right: 0.45rem;
        }

    .navigation li:first-child {
        display: none;
    }

    h2 {
        padding: .7em;
        font-size: 2em;
    }
    .stats {
        position: absolute;
        border: 1px solid black;
    }

    .hero-div {
        max-width: 804px;
    }
    .forcast-div {
        display: block;
        max-width: 800px;
        margin: 0 auto;
        margin-top: -3px;
    }

    #five-day {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-items: center;
        text-align: center;
        background-color: white;
        margin: 0 auto;
        max-width: 580px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

        #five-day div {
            display: block;
            padding-left: .3em;
            padding-right: .3em;
            border: 1px solid black;
            background-color: white;
        }
        #five-day div p{
            display: block;
            padding-left: .3rem;
            padding-right: .3rem;
            margin-top: .3rem;
            margin-bottom: .3rem;
            border: 1px solid black;
            background-color: #20D0ff60;

        }

        #five-day img {
            display: inline-block;
        }

    .article-div{
        overflow: auto;
        max-width: 800px;
        margin: 0 auto;
    }
    .article-author {
        font-size: .8em;
        border-bottom: 2px solid #D0D0D0;
        padding-bottom: .3em;
        margin-bottom: .2em;
    }

    .article-img {
        float: right;
        border: 1px solid black;
        text-align: right;
        margin-right: .4em;
        margin-bottom: .4em;
        margin-top: .2em;
        margin-left: 1em;
    }

    .contact-div {
        text-align: left;
        background-color: white;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        max-width: 800px;
        margin: 0 auto;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        grid-gap: 1em;
        margin: 1em;
        margin-top: 0px;
        padding-top: 1em;
    }
    #contact-h4 {
        display: inline-block;
        font-size: 1.1em;
        background-color: #20D0ff;
        padding: 1em;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
    }
    #contact-h3 {
        display: none;
    }
    .contact-div img {
        max-width: 100%;
        border: 1px solid black;
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/6;
    }

    .contact-div .socials-div{
        justify-self: center;
        align-self: end;
    }
    .socials-div {
        display: inline-block;
        justify-items: center;
        text-align: center;
    }
    .social-link {
        width: 36px;
        height: auto;
        margin: 6px;
    }

    .social-link:hover {
        width: 40px;
        height: auto;
        margin: 4px;
    }


    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

        .gallery img {
            width: 100%;
        }

    .form-div {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 15px;
    }



  



}


/* backup for larger display

    .form-grid {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: max-content max-content;
    border-top: unset;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-grid2 {
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-self: center;
    align-items: center;
    grid-gap: 10px;
}


#full-name-label {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: end;
}

#email-label {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: end;
}

#phone-label {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: end;
}
#zipcode-label {
    grid-row: 4/5;
    grid-column: 1/2;
    justify-self: end;
}
#stormdate-label {
    grid-row: 5/6;
    grid-column: 1/2;
    justify-self: end;
}

#stormtype-label{
grid-row: 6/7;
grid-column: 1/2;
justify-self: end;
}

#severity-label {
    grid-row: 7/8;
    grid-column: 1/2;
    justify-self: end;
}
#severity-out {
    grid-row: 7/8;
    grid-column: 2/3;
    width:50px;
    font-size: 1.7rem;
}

#stormregion-label {
    grid-row: 8/9;
    grid-column: 1/2;
    justify-self: end;
}


#danger-field {
    grid-row: 9/10;
    grid-column: 1/3;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    justify-items: start;
}

fieldset div{
    padding-left:calc(50% - 30px);
}

#comment-label {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: left;
    justify-self: start;
    margin-top:15px;
    width:100%;
}
#comment {
    max-width: 700px;
    min-width: 250px;
}

#submit {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: end;
    width: 6rem;
}

#reset {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: start;
    width: 6rem;
}






*/