
/* Media Query for large+ views */
@media only screen and (min-width: 60.5em) {
    h1 {
        font-size: 64px;
    }
    #title-bar > picture > img {
        height: 166px;
    }

    .highlights-div-odd, .highlights-div-even {
        display: grid;
        margin-top: 0px;
        margin-bottom: 0px;
        grid-gap: 20px;
        align-items: center;
    }

    .highlights-div-odd {
        grid-template-columns: max-content 1fr;
        justify-items: left;
    }

    .highlights-div-even {
        grid-template-columns: 1fr max-content;
        justify-items: right;
    }

    .highlights-div-even img {
        margin-right: 25px;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .highlights-div-odd img {
        margin-left: 25px;
        grid-column: 1/2;
    }

    highlights-div-even div {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

