:root {
    --main-bg-color: white;
    --main-txt-color: black;
    --alert-bg-color: #C98B83;
    --alert-txt-color: black;
    --alert-x-bg-color: white;
    --alert-x-txt-color: black;
    --border-color: #395426;
    --hover-txt-color: #395426;
    --hover-bg-color: #bcd8a6;
    --nav-bg-color: #d9e9cd;
    --nav-txt-color: black;
    --link-bg-color: white;
    --link-txt-color: #395426;
    --segment-heading-bg-color: #395426;
    --segment-heading-txt-color: white;
    --bar-bg-color: #85bb65;
    --segment-bg-color: #d9e9cd;
    --event-bg-color: #bcd8a6;
    --forcast-bg-color: #d9e9cd;
    --directory-bg-color: #bcd8a6;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;
    transition: margin 1s;
}

p {
    font-family: 'Times New Roman', Georgia, serif;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 25px;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: var(--link-txt-color);
}

header a {
    background-color: var(--main-bg-color);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration-line: none;
}

.headings {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .headings h1 {
        font-size: 1.4em;
        margin: 0 0 0 17px;
    }
    .headings div {
        font-family: 'Times New Roman', Georgia, serif;
    }

#title-bar > picture > img {
    height: 55px;
    margin-left: 15px;
}

nav {
    margin: 0 auto;
    color: var(--nav-txt-color);
    background-color: var(--nav-bg-color);
}

.navigation {
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

    .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.55rem;
        text-align: center;
        text-decoration: none;
        color: var(--link-txt-color);
        font-weight: 700;
        font-size: 1em;
    }

        .navigation a:hover {
            color: var(--hover-txt-color);
            background-color: var(--hover-bg-color);
        }

.responsive li {
    display: block;
}

.active {
    background-color: var(--hover-bg-color) !important;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.building-div > div > picture > img {
    border: 1px solid var(--border-color);
    width: 95%;
    height: auto;
}
.building-div > div:first-child{
    display: none;
}
.building-div > div:last-child {
    display: none;
}

.building-div {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr;
}

.segment-div {
    text-align: left;
    border-bottom: 2px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    background-color: var(--segment-bg-color);
    display: grid;
    grid-template-columns: max-content auto;
}

    .segment-div h2 {
        margin: 0px;
        padding: 5px 30px 5px 15px;
        border-radius: 0px 30px 0px 0px;
        background-color: var(--segment-heading-bg-color);
        color: var(--segment-heading-txt-color);
        font-size: 1.2rem;
    }

.top-div h2 {
    border-radius: 0px 0px 30px 0px;
}

.bar {
    background-color: var(--bar-bg-color);
    height: 4px;
}

.highlights-div-odd, .highlights-div-even{
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
}

.events-div {
    display: block;
    margin: 20px 0px 0px 0px;
}

.events-list div {
    text-align: left;
    padding-left: 35px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px;
}

    .events-div p {
        text-align: left;
        padding-left: 40px;
        color: var(--link-txt-color);
    }

    .events-div img {
        border: 1px solid var(--border-color);
    }
.weather-current-div {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: max-content;
}

.weather-info {
    font-size: 1.4em;
    font-weight: 400;
    font-family: 'Times New Roman', Georgia, serif;
    display: grid;
    grid-template-columns: max-content max-content;
    border: 4px ridge var(--border-color);
    align-items: center;
    justify-self: center;
}
    .weather-info div:first-child {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--forcast-bg-color);
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 15px;
    }

    .weather-info div:nth-child(n+1) {
        text-align: left;
    }

    .weather-info > img {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .weather-card {
        border: 1px solid var(--border-color);
        display: grid;
        grid-template-columns: 1fr max-content max-content max-content max-content 1fr;
        grid-column-gap: 25px;
        align-items: center;
        background-color: var(--forcast-bg-color);
        font-size: 1.2em;
        font-weight: 400;
        font-family: 'Times New Roman', Georgia, serif;
    }
    .weather-card-bar{
        margin-bottom: 15px;
    }

.social-icon {
    width: 36px;
    height: auto;
    margin: 6px;
}

    .social-icon:hover {
        width: 40px;
        height: auto;
        margin: 4px;
    }

.contact-div, .contact-div-home {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--event-bg-color)
}

.contact-info, .contact-info-home {
    border: 10px double var(--border-color);
    line-height: 1.6rem;
    background-color: var(--main-bg-color);
    margin-bottom: 20px;
    grid-column: 2/3;
}

    .contact-info div:nth-child(2), .contact-info-home div:nth-child(2) {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        line-height: 2rem;
    }

.contact-div-home {
    grid-template-columns: 1fr max-content 100px 1fr;
}

.div-border {
    border: 2px solid var(--border-color);
    grid-column: 2/3;
}

footer {
    background-color: var(--segment-heading-bg-color);
    color: var(--segment-heading-txt-color);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.white-link {
    color: var(--segment-heading-txt-color);
    text-decoration: underline;
}

footer a:hover {
    font-size: 1.1rem;
}

#join-div, #weather-alert-div {
    position: fixed;
    color: var(--alert-txt-color);
    background-color: var(--alert-bg-color);
    border: 1px solid var(--border-color);
    transition: right 1s;
}

#join-div {
    bottom: 20px;
    right: 20px;
    width: 300px;
    border-radius: 20px 10px;
    cursor: pointer;
}

    #join-div div {
        padding: 10px 0px 10px 0px;
        color: var(--alert-x-txt-color);
    }

#weather-alert-div {
    display: none;
    top: 0px;
    right: 0px;
    width: 100%;
    line-height: 30px;
    transition: right 1s;
}

#weather-alert-div div:first-child {
    padding: 5px;
}
/*
    directory.html
*/
.card-grid-view, .card-list-view {
    background-color: var(--directory-bg-color);
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}

#directory > section {
    font-family: 'Times New Roman', Georgia, serif;
    border: 1px solid var(--border-color);
    background-color: var(--segment-bg-color);
    max-width: 380px;
    padding: 10px 15px 10px 15px;
    justify-self: center;
}

        #directory > section > img {
            max-width: 95%;
            height: auto;
        }

        #directory > section > h2 {
            margin: 0px 0px 5px 0px;
            padding: 0px;
        }

    #directory > section > div {
        border-top: 1px solid var(--border-color);
        padding-top: 5px;
        margin-bottom: 5px;
    }

#directory a{
    font-weight: 700;
}

#directory a:hover {
    font-size: 1.1rem;
    margin: -20px;
}

/*
        Form styles
*/
.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    justify-self: center;
}

.form-grid label{
    font-size: 1.2rem;
}

.form-grid input{
    margin-bottom:15px;
    margin-left:10px;
    width: 240px;
}

legend {
    font-size: 1.4rem;
    background-color: var(--segment-heading-bg-color);
    color: var(--segment-heading-txt-color);
    padding: 5px 25px 5px 25px;
    border-radius: 10px 10px 6px 6px;
}

fieldset {
    border: 2px solid var(--border-color);
    background-color: var(--segment-bg-color);
    max-width: 800px;
    padding: 15px 25px 15px 25px;
    margin:30px;
}

legend div{
    padding: 20px;
}

.required {
    font-family: 'Times New Roman', Georgia, serif;
    font-size: 1.4rem;
    color: #8A0000;
}

.form-grid textarea {
    width: 100%;
}

fieldset div:last-child{
    text-align:right;
}

fieldset > fieldset{
    margin: 0px;
    text-align: center;
}

fieldset > fieldset > div {
    margin: 0px;
    text-align: left;
}

    fieldset > fieldset > legend {
        margin: 0px;
        font-size: 1rem;
    }

input[type="radio"] {
    transform: scale(1.25);
    width: 10px;
    margin: 0px;
    height: 20px;
}

.member-level-grid > div {
    display: grid;
    grid-template-columns: 160px 1fr;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.member-level-div {
    display: grid;
    grid-template-columns: 20px max-content;
    align-items: center;
}
    .member-level-grid > div > p {
        margin: 0px;
        padding: 0px;
        align-self: center;
    }

#about{
    margin-bottom: 15px;
}

#submit {
    width: 100px;
    margin: 10px;
}

#title {
    width: 70px;
}

input, textarea, button, select {
    font-family: 'Times New Roman', Georgia, serif;
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    transition: border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}
    input:focus, textarea:focus, select:focus {
        /* Additional highlight for focused elements */
        border-color: var(--segment-bg-color);
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }

        input:focus:invalid, textarea:focus:invalid {
            box-shadow: 0 0 0 .2rem var(--alert-bg-color);
        }

input, button, select {
    height: 32px;
    font-size: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
}
/*
    End of Form styles
*/
        .x-out {
            position: absolute;
            border: 2px solid var(--border-color);
            top: 5px;
            right: 5px;
            padding: 2px 6px 2px 6px;
            border-radius: 5px;
            background-color: var(--alert-x-bg-color);
            color: var(--alert-x-txt-color);
            line-height: 20px;
        }

.hidden {
    visibility: hidden;
}

.view-changer {
    display: none;
}

    .view-changer img {
        width: 40px;
        height: 40px;
    }

    .view-changer button {
        background-color: var(--main-bg-color);
        border-radius: 10px;
    }
        .view-changer button:hover {
            background-color: var(--hover-bg-color);
        }

.text-left{
    text-align: left;
    margin-left: 75px;
}

.margin-up{
    margin-top: -15px;
}

